.restaurant-main {
    margin-bottom: -4.5rem;
    &--photo {
       z-index: 1;
        img {
            width: 100%;
        }
}
    &--carte { 
        display: grid;
        border-radius: 2.5rem 2.5rem 0rem 0rem;
        @include background-grey;
        transform: translate(0%, -6%);
        z-index: 2;
        padding: 1rem 1rem 0rem 1rem;
    }
    &--heart {
        width: 2rem;
    }
    &--titre {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          transform: translate(-100%,0%);
        }
    }

}

.font-restau {
    font-family: Shrikhand;
    font-size: 2.2rem;
}

.card {
    h3 {
        border-bottom: 3px solid $color-tertiary;
        width: 10%;
    }
    h4 {
        @include police-medium;
        margin: 1rem 0rem 0rem 1rem;
    }
    p {
        margin: 0rem 0rem .5rem 1rem;
        @include police-thin;
        overflow: hidden;
    }

    &--main {
        animation: slideDown 1.5s;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 68px;
        background-color: white;
        @include box-shadow-main;
        border-radius: 1rem;

         &--txt {
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             white-space: nowrap;
             text-overflow: ellipsis;
            

         }

         &--animation {
             position: relative;
            display: flex;
            align-items: flex-end;

             &--txt {
                @include police-medium;
                margin: 0rem -2rem .5rem 0rem;
                width: 100%;
            } 

             &--logo {
                 transform: scaleX(0);
                 background-color: $color-tertiary;
                 border-radius: 0rem 1rem 1rem 0rem;
                 img {
                    width: 1.6rem;
                    margin : 1.2rem;
                 }
             }
    } 
         }
    }

.card--main:hover {
     cursor: pointer;
    .card--main--animation--logo {   
        transform: scaleX(1);
        transform-origin: 100%;
        transition: transform 0.4s ease-in-out, margin-left 0.4s; 
        margin-left: 2.5rem;
        img {
           transform: rotate(360deg);
           transition: transform 0.4s;
        }
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


    


.command-boutton {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    .boutton {
        padding : 1rem 3rem 1rem 3rem;
    }
}



 