html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Shrikhand;
  src: url(/ressources/polices/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: Roboto-Thin;
  src: url(/ressources/polices/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(/ressources/polices/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(/ressources/polices/Roboto/Roboto-Medium.ttf);
}
.logo-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.logo-header img {
  margin-top: 2rem;
  width: 220px;
  height: auto;
}
.logo-header--restaurants {
  position: relative;
}

.placement-fleche {
  position: relative;
}

.fleche-retour {
  width: 1.2rem;
  position: absolute;
  bottom: 0;
  transform: translate(100%, -50%);
}

/*LOCALISATION*/
.localisation {
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  box-shadow: inset 0px 3px 8px -5px rgba(0, 0, 0, 0.53);
}
.localisation p {
  font-size: 1.3rem;
  padding-right: 1.8rem;
  display: flex;
  justify-content: center;
  font-family: Roboto-Regular;
}
.localisation img {
  position: relative;
  right: 1.5rem;
  bottom: 0.2rem;
  width: 0.9rem;
}

/*STYLE NAVIGATION*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  font-family: Roboto-Regular;
  background-color: #f6f6f6;
}
nav h1 {
  display: block;
  width: 55%;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0px;
  margin-top: 40px;
  font-family: Roboto-Medium;
}
nav p {
  display: block;
  font-size: 1.3rem;
  width: 80%;
  text-align: center;
  margin-bottom: 30px;
  font-family: Roboto-Thin;
}

/*FONCTIONNEMENT*/
.fonctionnement h2 {
  padding: 2rem 0rem 0.5rem 2rem;
}
.fonctionnement--card {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  width: 85%;
  margin-left: 8%;
  padding: 8px;
  font-size: 1.3rem;
  font-family: Roboto-Regular;
  box-shadow: 2px 10px 15px -5px rgba(87, 87, 87, 0.41);
  background-color: #f6f6f6;
  border-radius: 1.8rem;
}
.fonctionnement--card span {
  background-color: #9356DC;
  color: #FFF;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 4px;
  font-size: 1rem;
}
.fonctionnement--logo-phone {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0%, -50%);
  width: 0.9rem;
}
.fonctionnement--logo-graph {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0%, -50%);
  width: 1.2rem;
}
.fonctionnement--logo-market {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0%, -50%);
  width: 1.2rem;
}

/*RESTAURANTS*/
.section-deux {
  background-color: #f6f6f6;
}
.section-deux h2 {
  padding: 2rem 0rem 0.5rem 2rem;
}

.section-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.restaurants--block {
  box-shadow: 2px 10px 15px -5px rgba(87, 87, 87, 0.41);
  width: 85%;
  border-radius: 1rem;
}
.restaurants--block--span {
  position: relative;
}
.restaurants--block span {
  font-family: Roboto-Medium;
  background-color: #99E2D0;
  border-radius: 0.1rem;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  color: #278870;
  font-size: 0.8rem;
  position: absolute;
  top: 15;
  right: 15;
}
.restaurants--block h3 {
  margin: 1rem 0rem 0.2rem 0.8rem;
}
.restaurants--block p {
  font-family: Roboto-Thin;
  margin: 0rem 0rem 0.8rem 0.8rem;
}
.restaurants--block a {
  color: black;
  text-decoration: none;
}
.restaurants--block--image {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.restaurants--block--texte {
  display: flex;
}
.restaurants--block--texte div {
  width: 50%;
}
.restaurants--block--logo {
  position: relative;
}
.restaurants--block--svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 1.5rem;
}

/*FOOTER*/
footer {
  background-color: #363636;
  color: white;
  font-family: Roboto-Thin;
  padding-bottom: 1.5rem;
}
footer svg {
  width: 7rem;
  margin: 1rem 0rem 1rem 1.5rem;
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul {
  list-style: none;
  margin: 0rem 0rem 0rem 1.5rem;
  padding: 0;
}
footer ul img {
  width: 0.8rem;
  margin-right: 1rem;
}
footer ul li {
  padding-bottom: 0.5rem;
}

.boutton {
  color: white;
  border-radius: 2rem;
  padding: 1rem 1.2rem;
  border: none;
  background: linear-gradient(350deg, #9356dc 10%, #ff79da 100%);
  box-shadow: 2px 10px 15px -5px rgba(87, 87, 87, 0.41);
  font-family: Roboto-Regular;
}

h2 {
  font-size: 1.7rem;
  font-family: Roboto-Medium;
}

h3 {
  font-family: Roboto-Thin;
}

.restaurant-main {
  margin-bottom: -4.5rem;
}
.restaurant-main--photo {
  z-index: 1;
}
.restaurant-main--photo img {
  width: 100%;
}
.restaurant-main--carte {
  display: grid;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  background-color: #f6f6f6;
  transform: translate(0%, -6%);
  z-index: 2;
  padding: 1rem 1rem 0rem 1rem;
}
.restaurant-main--heart {
  width: 2rem;
}
.restaurant-main--titre {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant-main--titre img {
  transform: translate(-100%, 0%);
}

.font-restau {
  font-family: Shrikhand;
  font-size: 2.2rem;
}

.card h3 {
  border-bottom: 3px solid #99E2D0;
  width: 10%;
}
.card h4 {
  font-family: Roboto-Medium;
  margin: 0px;
}
.card p {
  margin: 5px 0px 0px 0px;
  font-family: Roboto-Thin;
}
.card div {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 0rem;
  background-color: white;
  box-shadow: 2px 10px 15px -5px rgba(87, 87, 87, 0.41);
  border-radius: 1rem;
}
.card span {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translate(-50%, 15%);
  font-family: Roboto-Medium;
}

.command-boutton {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.command-boutton .boutton {
  padding: 1rem 3rem 1rem 3rem;
}

/*# sourceMappingURL=style.css.map */
