.boutton {
    @include boutton;
    @include box-shadow-main;
    @include police-text;
    transition: box-shadow 0.3s;
}

.boutton:hover {
    cursor: pointer;
    box-shadow: 2px 20px 30px -4px rgba(51, 51, 51, 0.41);
    transition: box-shadow 0.3s;
    background: linear-gradient(350deg, rgb(148, 95, 212) 10%, rgb(253, 139, 221) 100%);
}
