@font-face {
    font-family: Shrikhand;
    src: url(/ressources/polices/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(/ressources/polices/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(/ressources/polices/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(/ressources/polices/Roboto/Roboto-Medium.ttf);
}


