/*LOADER*/
body {
    position: relative;
}


.section {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background:rgba(238, 238, 238, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 1;   
    animation: hide 0s ease-in 3s;
    animation-fill-mode: forwards;    
}

.loader {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 6px solid transparent;
    border-top-color: $color-primary;
    border-bottom-color: $color-secondary;
    animation: spin 2s  infinite;
        
}

.loader::after {
        content: '';
        position: absolute;
        top: 13px;
        left: 12px;     
        border: 6px solid transparent;
        width: 150px;
        height: 150px;
        border-radius: 200px;
        border-top-color: $color-tertiary;
        border-bottom-color: $color-tertiary;
        animation: spinreverse 1s linear infinite;        
}

.loader::before {
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;     
    background-color: rgb(201, 200, 200);
    width: 20px;
    height: 20px;
    border-radius: 200px;
    transform : scale(0);
    animation: scale 3s  linear infinite;
        
}


@keyframes spin {
    0% {
        transform: rotate(0deg);

        
    }
    100% {
        transform: rotate(360deg);
 
    }
}

@keyframes spinreverse {
    0% {
        transform: rotate(0deg);

    }
    100% {
        transform: rotate(-360deg);

    }
}

@keyframes scale {
    50% {
        transform: scale(1);
    }
}

@keyframes hide {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}




/*LOCALISATION*/

.localisation {
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    box-shadow: inset 0px 3px 8px -5px rgba(0,0,0,0.53);  
    p {
        font-size: $font-size-text;
        padding-right: 1.8rem;
        display: flex;
        justify-content: center;
        @include police-text;
    }
    img {
        position: relative;
        right: 1.5rem;
        bottom: .20rem;
        width: .90rem;      
    }
}

/*STYLE NAVIGATION*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    @include police-text;
    @include background-grey;
     h1 {
         display: block;
         width: 55%;
         text-align: center;
         font-size:  $font-size-titre;
         margin-bottom: 0px;
         margin-top: 40px;
         @include police-medium
     }
     p {
         display: block;
         font-size: $font-size-text;
         width: 80%;
         text-align: center;
         margin-bottom: 30px;
         @include police-thin;
     }

} 

/*FONCTIONNEMENT*/

.fonctionnement {
    h2 {
        @include padding-titre;
    }
    &--card {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        width: 85%;
        margin-left: 8%;
        padding: 8px;
        font-size: $font-size-text;
        @include police-text;
        @include box-shadow-main;
        @include background-grey;
        border-radius: 1.8rem;
        span {
            @include fonctionnement-span;
        }  
    }
    &--logo-phone {
            @include fonctionnement-svg;
            width: 0.90rem;
        }
    &--logo-graph {
        @include fonctionnement-svg;
        width: 1.2rem;
    }   
    &--logo-market {
        @include fonctionnement-svg;
        width: 1.2rem;
    } 
}

.disabled {
    display: none;
}

.fonctionnement--card:hover {    
        transition: box-shadow 0.3s;
        background-color: rgba(147, 86, 220,0.1);
        box-shadow: 2px 20px 30px -8px rgba(87, 87, 87, 0.41);
        .disabled {
            display: inline;
        }
}

/*RESTAURANTS*/

.section-deux {
    @include background-grey;
    h2 {
        @include padding-titre;
    }
}

.section-restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 3rem;
}

.restaurants--block {
    @include card-restaurants-une;
}

/*FOOTER*/

footer {
    background-color: rgb(54, 54, 54);
    color: white;
    @include police-thin;
    padding-bottom: 1.5rem;
    svg {
        width: 7rem;
        margin: 1rem 0rem 1rem 1.5rem;
    }
    a {
        text-decoration: none;
        color: white;
    }
    ul {
        list-style: none;
        margin: 0rem 0rem 0rem 1.5rem;
        padding : 0;
        img {
            width: 0.8rem;
            margin-right: 1rem;
        }
        li {
            padding-bottom: 0.5rem;
        }
    }
}